<!--Video-->
<script async src="https://cdn.ad.plus/player/adplus.js"></script> <script data-playerPro="current">(function(){var s=document.querySelector('script[data-playerPro="current"]');s.removeAttribute("data-playerPro");(playerPro=window.playerPro||[]).push({id:"NGir3d4HNV_B",after:s});})();</script>

<!--Interstitial Ad-->
<script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
<script>   window.googletag = window.googletag || {cmd: []};
googletag.cmd.push(function() {
    var interstitialSlot = googletag.defineOutOfPageSlot('/21849154601,22529319463/Ad.Plus-Mobile-Interstitial', googletag.enums.OutOfPageFormat.INTERSTITIAL);
    if (interstitialSlot) interstitialSlot.addService(googletag.pubads());
    googletag.pubads().enableSingleRequest();
    googletag.enableServices();   googletag.display(interstitialSlot);     }); </script>

<!--StickyAnchor-Ads-->
<div id='fixedban' style='width:100%;margin:auto; text-align:center;float:none;overflow:hidden; display:scroll;position:fixed; bottom:0;z-index:9999999'>
    <div style='text-align:center;display:block;max-width:970px;height:auto;overflow:hidden;margin:auto'>
        <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
        <script>  var gptadslots = [];
        var googletag = googletag || {cmd:[]};</script>
        <script>  googletag.cmd.push(function() {
            var responsiveads = googletag.sizeMapping()
                .addSize([0,0],[[320,50],[300,75],[300,50]])
                .addSize([730,200],[[728,90],[468,60]])
                .addSize([975,200],[[970,90],[728,90],[960,90],[750,100],[950,90],[468,60]])  .build();
            gptadslots.push(googletag.defineSlot('/21849154601,22529319463/Ad.Plus-Anchor', [[320,100]], 'adplus-anchor')
                .setTargeting('site', ['jhooq.com'])
                .defineSizeMapping(responsiveads)
                .addService(googletag.pubads()));
            googletag.enableServices();  }); </script>
        <div> <a id='close-fixedban' onclick='document.getElementById(&apos;fixedban&apos;).style.display = &apos;none&apos;;' style='cursor:pointer;'><img src="https://ad.plus/adplus-advertising.svg" alt="adplus-dvertising" title='Ad.Plus Advertising' style='vertical-align:middle;'/></a></div> <div id='adplus-anchor'>
        <script>   googletag.cmd.push(function() { googletag.display('adplus-anchor'); });  </script></div></div></div>