<script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script><div id="Ad.Plus-336x280-1"><script>
    window.googletag = window.googletag || {cmd: []}; googletag.cmd.push(function() {
        googletag.defineSlot('/21849154601,22529319463/Ad.Plus-336x280', [[336, 280], [200, 200], [320, 100], [240, 133], [300, 100], [120, 240], [180, 150], [320, 250], [250, 250], [300, 250], [300, 75]], 'Ad.Plus-336x280-1').addService(googletag.pubads())
            .setTargeting('site', ['jhooq.com']);
        googletag.enableServices(); googletag.display('Ad.Plus-336x280-1'); });</script></div>