<script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script><div id="Ad.Plus-300x600-1"><script>
    window.googletag = window.googletag || {cmd: []}; googletag.cmd.push(function() {
        googletag.defineSlot('/21849154601,22529319463/Ad.Plus-300x600', [[300, 600], [200, 446], [240, 400], [250, 250], [250, 360], [120, 600], [300, 250], [160, 600]], 'Ad.Plus-300x600-1').addService(googletag.pubads())
            .setTargeting('site', ['jhooq.com']);
        googletag.enableServices(); googletag.display('Ad.Plus-300x600-1'); });</script></div>