>**Learn more On Kubernetes -**
>1. [Setup kubernetes on Ubuntu](https://jhooq.com/14-steps-to-install-kubernetes-on-ubuntu-18-04-and-16-04/)
>2. [Setup Kubernetes on CentOs](https://jhooq.com/15-steps-to-install-kubernetes-on-bento-centos7/)
>3. [Setup HA Kubernetes Cluster with Kubespray](https://jhooq.com/kubespray-12-steps-for-installing-a-production-ready-kubernetes-cluster/)
>4. [Setup HA Kubernetes with Minikube](https://jhooq.com/kubernets-and-minikube/)
>5. [Setup Kubernetes Dashboard for local kubernetes cluster](https://jhooq.com/setting-up-kubernetes-dashboard/)
>6. [Setup Kubernetes Dashboard On GCP(Google Cloud Platform)](https://jhooq.com/setting-up-kubernetes-dashboard/#gke-kubernetes-dashboard)
>7. [How to use Persistent Volume and Persistent Volume Claims in Kubernetes](https://jhooq.com/how-to-use-persistent-volume-and-persistent-claims-kubernetes)
>8. [Deploy Spring Boot Microservice on local Kubernetes cluster](https://jhooq.com/deploy-spring-boot-microservices-on-kubernetes/)
>9. [Deploy Spring Boot Microservice on Cloud Platform(GCP)](https://jhooq.com/deploy-spring-boot-microservices-on-kubernetes/#part-2)
>10. [Setting up Ingress controller NGINX along with HAproxy inside Kubernetes cluster](https://jhooq.com/ingress-controller-nginx/)
>11. [CI/CD Kubernetes | Setting up CI/CD Jenkins pipeline for kubernetes ](https://jhooq.com/ci-cd-jenkins-kubernetes)
>12. [kubectl export YAML | Get YAML for deployed kubernetes resources(service, deployment, PV, PVC....) ](https://jhooq.com/get-yaml-for-deployed-kubernetes-resources/)
>13. [How to setup kubernetes jenkins pipeline on AWS?](https://jhooq.com/aws-kubernetes-jenkins-pipeline)
>14. [Implementing Kubernetes liveness, Readiness and Startup probes with Spring Boot Microservice Application?](/kubernetes-liveness-readiness-startup-probes/)
>15. [How to fix kubernetes pods getting recreated?](/kubernetes-pod-recreated)
>16. [How to delete all kubernetes PODS?](/kubernetes-delete-pod)
>17. [How to use Kubernetes secrets?](/kubernetes-secrets)
>18. [Share kubernetes secrets between namespaces?](/kubernetes-share-secrets-namespaces)
>19. [How to Delete PV(Persistent Volume) and PVC(Persistent Volume Claim) stuck in terminating state?](/k8s-delete-pv-pvc)
>20. [Delete Kubernetes POD stuck in terminating state?](/k8s-delete-pod-stuck-terminating-state)