>**Read More** -
<br/>
>1. [Install terraform on Ubuntu 20.04, CentOS 8, MacOS, Windows 10, Fedora 33, Red hat 8 and Solaris 11](https://jhooq.com/install-terrafrom/)
>2. [How to setup Virtual machine on Google Cloud Platform using terraform](https://jhooq.com/how-to-setup-virtual-machine-on-google-cloud-platform/)
>3. [Create EC2 Instance on AWS using terraform](https://jhooq.com/terraform-ec2-instance-setup/)
>4. [How to use Terraform Input Variables](https://jhooq.com/terraform-input-variables/)
>5. [What is variable.tf and terraform.tfvars?](https://jhooq.com/terraform-variable-and-tfvars-file/)
>6. [How to use Terraform locals?](https://jhooq.com/how-to-use-terraform-locals/)
>7. [How to use Terraform output values?](https://jhooq.com/how-to-use-terraform-output-values/)
>8. [Understanding terraform count, for_each and for loop?](https://jhooq.com/terraform-for-and-for-each-loop/)
>9. [Cloud-nuke : How to nuke AWS resources and save additional AWS infrastructure cost?](https://jhooq.com/terraform-nuke/)
>10. [How to use Terraform Dynamic blocks?](https://jhooq.com/terraform-dynamic-block/)
>11. [How to use Terraform resource meta arguments?](https://jhooq.com/terraform-resource-meta-argument/)
>12. [How to use Terraform Data sources?](https://jhooq.com/terraform-data-sources)
>13. [What is terraform provisioner?](https://jhooq.com/terraform-provisioner)
>14. [Terraform how to do SSH in AWS EC2 instance?](https://jhooq.com/terraform-ssh-into-aws-ec2)
>15. [How Terraform modules works?](https://jhooq.com/terraform-module/)
>16. [How to run specific terraform resource?](https://jhooq.com/terraform-run-specific-resource/)
>17. [How to use Workspaces in Terraform?](https://jhooq.com/terraform-workspaces/)
>18. [Securing AWS secrets using HashiCorp Vault with Terraform?](https://jhooq.com/hashi-vault-aws-secret-terraform/)
>19. [Managing Terraform states?](/terraform-manage-state/)
>20. [Terraform state locking using DynamoDB (aws_dynamodb_table)](/terraform-state-file-locking/)
>21. [Terraform and AWS credentials handling?](/terraform-aws-credentials-handling/)
>22. [Terraform and AWS Multi account Setup?](/terraform-aws-multi-account/)




>**Terragrunt** -
<br/>
>1. [How to use Terragrunt?](/terragrunt-guide)